body {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	
	background-image: url("clouds1.png");
	background-repeat: repeat-x;
}

html {
    background: linear-gradient(#182430, #596d8c); /* Standard syntax */
}