body {
	background-color: #EEE;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: rgba(0, 0, 0, 0);
	color: #ffffcc;
	//color: white;
}

html {
	height: 100%;
	width: 100%;
	
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
	background: #1fb1b9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1fb1b9, #dcd1d9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1fb1b9, #dcd1d9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1fb1b9, #dcd1d9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1fb1b9, #dcd1d9); /* Standard syntax */
	
	//background-repeat: no-repeat;
}

.bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	
	position: absolute;
	left: 0px;
	top: 0px;
	
	opacity: 0.05;
	
	z-index: -1;
}

#container {
	padding: 1em 1em;
	background-color: rgba(255, 255, 255, 0.2);
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
}

#main {
	width: 600px;
	float: right;
}

#footer {
	clear: both;
}

.link {
	color: #ffff99;
}